{% extends "layout.html" %}
{% block content %}
    <a href="{{ url_for('routes.index') }}" class="back-btn">&#8592;</a>
    <div class="header">
        <h1>Doctor Home Screen</h1>
        <p>Welcome, Dr. {{ doctor_name }}!</p>
    </div>
        <div class="box">
            <h2>Consultation Queue:</h2>
            {% for item in waiting_queue %}
            <form method="POST" action="{{ url_for('routes.appointment_details', appointment_id=item.appointment_id) }}" class="pure-form pure-form-stacked">

            <div class="queue-box">
                <div class="queue-item" data-queue="{{ item.appointment_id }}">
                    {{ item.appointment_id }}
                </div>
                {% endfor %}
                <input type="hidden" id="item.appointment_id" name="item.appointment_id" required>
            </div>
        </div>

        <div class="submit-btn">
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
<script>
    // JavaScript to handle the selection of a queue item
    document.querySelectorAll('.queue-item').forEach(item => {
        item.addEventListener('click', function() {
            document.querySelectorAll('.queue-item').forEach(i => i.classList.remove('selected'));
            this.classList.add('selected');
            document.getElementById('selected_queue').value = this.getAttribute('data-queue');
        });
    });
</script>
{% endblock %}