<!-- billing.html -->
{% extends "layout.html" %}
{% block content %}
<h1>Billing</h1>
<p>Patient Name: {{ appointment.patient_name }}</p>
<p>Patient ID: {{ appointment.patient_id }}</p>
<p>Weight: {{ appointment.weight }}</p>
<p>Blood Group: {{ appointment1.patient_blood_group }}</p>
<p>Height: {{ appointment.height }}</p>
<p>Blood Pressure Systolic: {{ appointment.blood_pressure_high }}</p>
<p>Blood Pressure Diastolic: {{ appointment.blood_pressure_low }}</p>
<p>Email: {{ appointment1.email }}</p>
<p>Temp (*F): {{ appointment.temperature }}</p>
<p>Conditions: {{ appointment.medical_condition }}</p>

<form method="POST">
    <label for="amount">Amount:</label>
    <input type="number" name="amount" required>
    <button type="submit">Submit Bill</button>
</form>
{% endblock %}
