{% extends "layout.html" %}
{% block content %}
    <h1>Register Patient</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.patient_name.label }}<br>
            {{ form.patient_name(size=32) }}
        </p>
        <p>
            {{ form.patient_id.label }}<br>
            {{ form.patient_id(size=10) }}
        </p>
        <p>
            {{ form.patient_blood_group.label }}<br>
            {{ form.patient_blood_group() }}
        </p>
        <p>
            {{ form.gender.label }}<br>
            {{ form.gender() }}
        </p>
        <p>
            {{ form.birthdate.label }}<br>
            {{ form.birthdate() }}
        </p>
        <p>
            {{ form.currentdate.label }}<br>
            {{ form.currentdate() }}
        </p>
        <p>
            {{ form.contact_number.label }}<br>
            {{ form.contact_number(size=15) }}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}