{% extends "layout.html" %}
{% block content %}
    <a href="{{ url_for('nurse.nurse_dashboard') }}" class="back-btn">&#8592;</a>
    <h1 align="center">Patient Registration</h1>
    <form class="pure-form pure-form-stacked" method="post" action="">
        <div class="form-group">
            {{ form.hidden_tag() }}
            {{ form.patient_name.label }}
            {{ form.patient_name(size=32) }}
        </div><br>
        <div class="form-group">
            {{ form.hidden_tag() }}
            {{ form.patient_id.label }}
            {{ form.patient_id(size=10) }}
        </div><br>
        <div class="form-group">
            {{ form.hidden_tag() }}
            {{ form.patient_blood_group.label }}
            {{ form.patient_blood_group() }}
        </div><br>
        <div class="form-group">
            {{ form.hidden_tag() }}
            {{ form.gender.label }}
            {{ form.gender() }}
        </div><br>
        <div class="form-group">
            {{ form.hidden_tag() }}
            {{ form.birthdate.label }}
            {{ form.birthdate() }}
        </div><br>
        <div class="form-group">
            {{ form.hidden_tag() }}
            {{ form.currentdate.label }}
            {{ form.currentdate() }}
        </div><br>
        <div class="form-group">
            {{ form.hidden_tag() }}
            {{ form.contact_number.label }}
            {{ form.contact_number(size=15) }}
        </div><br>
        <div class="form-group">
            {{ form.hidden_tag() }}
            {{ form.email.label }}
            {{ form.email(size=64) }}
        </div><br>
        <div class="form-group">
            {{ form.hidden_tag() }}
            {{ form.address.label }}
            {{ form.address(size=64, id="address") }}
        </div><br>
        <div class="submit">
            <button type="submit" class="pure-button pure-button-primary pure-controls">Register Patient</button>
        </div>
    </form>
{% endblock %}