<!-- app/templates/prescribe_medications.html -->

{% extends "layout.html" %}
{% block content %}
  <h2>Prescribe Medications for {{ appointment.patient_name }}</h2>
  <form method="post" action="{{ url_for('routes.view_queue') }}" class="pure-form pure-form-stacked">
    {{ form.hidden_tag() }}
    <div class="pure-form-group">
      <label for="appointment_id">{{ form.appointment_id.label }}</label>
        {{ form.appointment_id() }}
    </div>
    <div class="pure-form-group">
      <label for="doctor_notes">{{ form.doctor_notes.label }}</label>
        {{ form.doctor_notes() }}
    <div class="pure-form-group">
      <label for="medications">{{ form.medications.label }}</label>
        {{ form.medications() }}
    </div>
    <div class="pure-form-group">
      <label for="follow_up">{{ form.follow_up.label }}</label>
        {{ form.follow_up() }}
    </div>
    <div class="pure-form-group">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
{% endblock %}
