<!-- view_queue.html -->
{% extends "layout.html" %}
{% block content %}
<h1>Queue Number Display</h1>
<table class="pure-g">
    <tr>
    <th class="pure-u-1-3">
        <h2 style="font-size: 40px">Consultation Queue</h2>
        <table>
            {% for item in waiting_queue %}
            <tr {% if loop.first %}style="font-weight: bold; font-size: larger;"{% endif %}>
                <td>{{ item.appointment_id }}</td>
            </tr>
            {% endfor %}
        </table>
    </th>
    <th></th>
    <th class="pure-u-1-3" align="right">
        <h2 style="font-size: 40px">Billing Queue</h2>
        <table>
            {% for item in billing_queue %}
            <tr {% if loop.first %} style="font-weight: bold; font-size: larger;" {% endif %}>
                <td>{{ item.appointment_id }}</td>
            </tr>
            {% endfor %}
        </table>
    </th>
</tr>
    </table>
{% endblock %}
