<!-- view_queue.html -->
{% extends "layout.html" %}
{% block content %}
<h1>Queue</h1>

<h2>Waiting Queue</h2>
<table>
    <tr>
        <th>Queue Number</th>
        <th>Action</th>
    </tr>
    {% for item in waiting_queue %}
    <tr {% if loop.first %}style="font-weight: bold; font-size: larger;"{% endif %}>
        <td>{{ item.appointment.appointment_id }}</td>
        <td>
            {% if current_user.role == 'doctor' %}
            <form action="{{ url_for('select_queue', queue_id=item.id) }}" method="POST">
                <button type="submit">Select</button>
            </form>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<h2>Billing Queue</h2>
<table>
    <tr>
        <th>Queue Number</th>
        <th>Action</th>
    </tr>
    {% for item in billing_queue %}
    <tr {% if loop.first %}style="font-weight: bold; font-size: larger;"{% endif %}>
        <td>{{ item.appointment.appointment_id }}</td>
        <td>
            {% if current_user.role == 'pharmacist' %}
            <form action="{{ url_for('select_queue', queue_id=item.id) }}" method="POST">
                <button type="submit">Select</button>
            </form>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
